version: "3.9"

services:
    anvil:
        image: sunodo/devnet:1.1.1
        command:
            [
                "anvil",
                "--block-time",
                "${BLOCK_TIME:-5}",
                "--load-state",
                "/usr/share/sunodo/anvil_state.json",
                "${ANVIL_VERBOSITY:---silent}",
            ]
        healthcheck:
            test: ["CMD", "eth_isready"]
            interval: 10s
            timeout: 1s
            retries: 5
        environment:
            ANVIL_IP_ADDR: 0.0.0.0
        volumes:
            - blockchain-data:/usr/share/sunodo
        ports:
            - 8545:8545

    database:
        image: postgres:13-alpine
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres || exit 1"]
            interval: 10s
            timeout: 5s
            retries: 5
        environment:
            - POSTGRES_PASSWORD=password

    redis:
        image: redis:6-alpine
        restart: always
        command: ["--loglevel", "${REDIS_LOG_LEVEL:-warning}"]
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 10s
            timeout: 5s
            retries: 5

    dapp_deployer:
        image: cartesi/rollups-cli:1.0.2
        restart: on-failure
        depends_on:
            anvil:
                condition: service_started
        command:
            [
                "create",
                "--rpc",
                "http://anvil:8545",
                "--deploymentFile",
                "/usr/share/sunodo/localhost.json",
                "--mnemonic",
                "test test test test test test test test test test test junk",
                "--templateHashFile",
                "/var/opt/cartesi/machine-snapshots/0_0/hash",
                "--outputFile",
                "/usr/share/sunodo/dapp.json",
            ]
        volumes:
            - blockchain-data:/usr/share/sunodo

    validator:
        image: sunodo/rollups-node:0.5.0
        depends_on:
            dapp_deployer:
                condition: service_completed_successfully
        volumes:
            - blockchain-data:/usr/share/sunodo:ro
        healthcheck:
            test: ["CMD", "is_ready"]
            interval: 10s
            timeout: 1s
            retries: 5
        expose:
            - 4000
            - 5004
            - 5005
        environment:
            # s6-overlay
            S6_STAGE2_HOOK: "/etc/s6-overlay/scripts/stage2-hook.sh"
            S6_VERBOSITY: "${S6_VERBOSITY:-2}"
            # global
            RUST_LOG: "${RUST_LOG:-info}"
            ## shared
            ### redis
            REDIS_ENDPOINT: redis://redis:6379
            ### contract-address-file
            DAPP_CONTRACT_ADDRESS_FILE: /usr/share/sunodo/dapp.json
            ### session-id
            SESSION_ID: default_session_id
            ### chain-id
            CHAIN_ID: 31337
            TX_CHAIN_ID: 31337
            ### server-manager-endpoint
            SERVER_MANAGER_ENDPOINT: http://localhost:5001
            SERVER_MANAGER_ADDRESS: localhost:5001
            SERVER_MANAGER_LOG_LEVEL: "${SERVER_MANAGER_LOG_LEVEL:-info}"
            REMOTE_CARTESI_MACHINE_LOG_LEVEL: "${REMOTE_CARTESI_MACHINE_LOG_LEVEL:-info}"

            ### database
            POSTGRES_ENDPOINT: "${POSTGRES_ENDPOINT:-postgres://postgres:password@database:5432/postgres}"

            # dispatcher
            ## uses redis
            ## uses chain-id (TX_CHAIN_ID acctually)
            AUTH_MNEMONIC: "test test test test test test test test test test test junk"
            RD_DAPP_DEPLOYMENT_FILE: /usr/share/sunodo/dapp.json
            RD_ROLLUPS_DEPLOYMENT_FILE: /usr/share/sunodo/localhost.json
            RD_EPOCH_DURATION: "${EPOCH_DURATION:-86400}"
            SC_GRPC_ENDPOINT: http://localhost:50051
            SC_DEFAULT_CONFIRMATIONS: 1
            TX_PROVIDER_HTTP_ENDPOINT: http://anvil:8545
            TX_CHAIN_IS_LEGACY: ${TX_LEGACY:-false}
            TX_DEFAULT_CONFIRMATIONS: 2

            # state-server
            SF_GENESIS_BLOCK: 1
            SF_SAFETY_MARGIN: 1
            BH_HTTP_ENDPOINT: http://anvil:8545
            BH_WS_ENDPOINT: ws://anvil:8545
            BH_BLOCK_TIMEOUT: "${BLOCK_TIMEOUT:-8}"

            # advance-runner
            ## uses redis
            ## uses contract-address-file
            ## uses session-id
            ## uses chain-id
            ## uses server-manager-endpoint
            PROVIDER_HTTP_ENDPOINT: http://anvil:8545
            SNAPSHOT_DIR: "/var/opt/cartesi/machine-snapshots"
            SNAPSHOT_LATEST: "/var/opt/cartesi/machine-snapshots/latest"

            # inspect-server
            ## uses session-id
            ## uses server-manager-endpoint (acctually uses SERVER_MANAGER_ADDRESS)
            INSPECT_SERVER_ADDRESS: 0.0.0.0:5005

            # indexer
            ## uses redis
            ## uses contract-address-file
            ## uses chain-id

            # graphql-server
            ## uses postgres-config
            GRAPHQL_HOST: 0.0.0.0
            GRAPHQL_PORT: 4000

    proxy:
        image: traefik:v2.10
        depends_on:
            validator:
                condition: service_healthy
            traefik-config-generator:
                condition: service_completed_successfully
        healthcheck:
            test: ["CMD", "traefik", "healthcheck", "--ping"]
            interval: 5s
            timeout: 1s
            retries: 5
        command:
            [
                "--ping=true",
                "--entryPoints.web.address=:8088",
                "--entryPoints.traefik.address=:8080",
                "--metrics.prometheus=true",
                "--metrics.prometheus.addServicesLabels=true",
                "--providers.file.directory=/etc/traefik/conf.d",
                "--providers.file.watch=true"
            ]
        ports:
            - 8080:8088
            - 8088:8080
        volumes:
            - traefik-conf:/etc/traefik/conf.d

    prompt:
        image: debian:bookworm-slim
        command:
            [
                "sh",
                "-c",
                "ls | sort | xargs cat; trap exit INT TERM; sleep infinity & wait",
            ]
        working_dir: /prompt
        volumes:
            - ${SUNODO_BIN_PATH}/node/prompt:/prompt
        depends_on:
            proxy:
                condition: service_healthy

    traefik-config-generator:
        environment:
            TRAEFIK_CONFIG_INSPECT_SERVER: |
                http:
                    routers:
                        inspect_server:
                            rule: "PathPrefix(`/inspect`)"
                            service: inspect_server
                    services:
                        inspect_server:
                            loadBalancer:
                                servers:
                                    - url: "http://validator:5005/inspect"
            TRAEFIK_CONFIG_GRAPHQL_SERVER: |
                http:
                    routers:
                        graphql_server:
                            rule: "PathPrefix(`/graphql`)"
                            service: graphql_server
                    services:
                        graphql_server:
                            loadBalancer:
                                servers:
                                    - url: "http://validator:4000/graphql"

volumes:
    blockchain-data: {}
    traefik-conf: {}
