version: "3.9"
services:
    dapp_deployer:
        command: [
                "create",
                "--rpc",
                "http://anvil:8545",
                "--deploymentFile",
                "/usr/share/sunodo/localhost.json",
                "--mnemonic",
                "test test test test test test test test test test test junk",
                # template hash is not relevant in host mode, so we can specify hash zero
                "--templateHash",
                "0x0000000000000000000000000000000000000000000000000000000000000000",
                "--outputFile",
                "/usr/share/sunodo/dapp.json",
            ]

    validator:
        environment:
            CARTESI_FEATURE_HOST_MODE: true

    traefik-config-generator:
        environment:
            TRAEFIK_CONFIG_HOST_RUNNER: |
                http:
                    routers:
                        host-runner:
                            rule: "PathPrefix(`/host-runner`)"
                            middlewares:
                                - "replace-host-runner-prefix"
                            service: host-runner
                    middlewares:
                        replace-host-runner-prefix:
                            replacePathRegex:
                                regex: "^/host-runner/(.*)"
                                replacement: "/rollup/$1"
                    services:
                        host-runner:
                            loadBalancer:
                                servers:
                                    - url: "http://validator:10000"

    prompt:
        environment:
            PROMPT_TXT_05_HOST_RUNNER: "Host Runner running at http://localhost:${SUNODO_LISTEN_PORT}/host-runner"
