version: "3.9"
services:
    dapp_deployer:
        command:
            [
                "create",
                "--rpc",
                "http://anvil:8545",
                "--deploymentFile",
                "/usr/share/sunodo/localhost.json",
                "--mnemonic",
                "test test test test test test test test test test test junk",
                # template hash is not relevant in host mode, so we can specify hash zero
                "--templateHash",
                "0x0000000000000000000000000000000000000000000000000000000000000000",
                "--outputFile",
                "/usr/share/sunodo/dapp.json",
            ]

    validator:
        environment:
            ENABLE_SUNODO_NODE: true
            # advance-runner
            SNAPSHOT_ENABLED: false

    traefik-config-generator:
        environment:
            HOST_RUNNER_TRAEFIK_CONFIG: |
                http:
                    routers:
                        host-runner:
                            rule: "PathPrefix(`/host-runner`)"
                            middlewares:
                                - "remove-host-runner-prefix"
                            service: host-runner

                    middlewares:
                        remove-host-runner-prefix:
                            replacePathRegex:
                                regex: "^/host-runner/(.*)"
                                replacement: "/$1"
                    services:
                        host-runner:
                            loadBalancer:
                                servers:
                                    - url: "http://validator:5004"

        command:
            /bin/sh -c "echo \"$$HOST_RUNNER_TRAEFIK_CONFIG\" > /etc/traefik/conf.d/host-runner.yaml && echo \"$$TRAEFIK_CONFIG\" > /etc/traefik/conf.d/all.yaml"
