.border {
  border: 1px solid var(--mantine-color-gray-1);
}

.divider {
  --divider-color: var(--mantine-color-gray-1);
  margin-left: calc(-1 * var(--mantine-spacing-xl));
  margin-right: calc(-1 * var(--mantine-spacing-xl));

  @media (min-width: $mantine-breakpoint-sm) {
    margin-left: calc(-1 * var(--mantine-spacing-2xl));
    margin-right: calc(-1 * var(--mantine-spacing-2xl));
  }
}
