.border {
    @mixin light {
        border: 1px solid var(--mantine-color-gray-3);
    }

    @mixin dark {
        border: 1px solid var(--mantine-color-gray-8);
    }
}

.divider {
    @mixin light {
        --divider-color: var(--mantine-color-gray-3);
    }

    @mixin dark {
        --divider-color: var(--mantine-color-gray-8);
    }

    margin-left: calc(-1 * var(--mantine-spacing-xl));
    margin-right: calc(-1 * var(--mantine-spacing-xl));

    @media (min-width: $mantine-breakpoint-sm) {
        margin-left: calc(-1 * var(--mantine-spacing-2xl));
        margin-right: calc(-1 * var(--mantine-spacing-2xl));
    }
}

.dark {
    @mixin light {
        color: var(--mantine-color-white);
        background-color: var(--mantine-color-dark-9);
    }

    @mixin dark {
        color: var(--mantine-color-white);
        background-color: var(--mantine-color-dark-6);
    }
}

.light {
    @mixin light {
        background-color: var(--mantine-color-brand-0);
    }

    @mixin dark {
        background-color: var(--mantine-color-dark-9);
    }
}
