.wrapper {
    background: var(--mantine-color-gray-9);
    color: var(--mantine-color-white);
    padding: calc(var(--mantine-spacing-xl) + var(--header-height)) 0;
    overflow: hidden;
    position: relative;

    @media (min-width: $mantine-breakpoint-lg) {
        padding: calc(10vh + var(--header-height)) 0;
    }
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.cursor {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40vw;
    height: 40vw;
    pointer-events: none;
    background: var(--mantine-color-brand-6);
    opacity: 0.15;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    filter: blur(1000px);
    transition: transform 200ms ease;
}
