.dark {
    @mixin dark {
        fill: var(--mantine-color-white);
    }

    @mixin light {
        fill: var(--mantine-color-white);
    }
}

.light {
    @mixin light {
        fill: var(--mantine-color-black);
    }

    @mixin dark {
        fill: var(--mantine-color-white);
    }
}
