name: car-download
on:
    workflow_call:
        inputs:
            release:
                type: boolean
                required: false
        secrets:
            NPM_TOKEN:
                required: true
            TURBO_TOKEN:
                required: true
    pull_request:
        paths:
            - .github/workflows/car-download.yaml
            - packages/car-download/**
            - packages/eslint-config/**
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
    cancel-in-progress: true
permissions:
    contents: read
    packages: write
jobs:
    build:
        runs-on: ubuntu-latest
        env:
            TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
            TURBO_TEAM: ${{ vars.TURBO_TEAM }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Node.js 20
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  registry-url: "https://registry.npmjs.org"
                  cache: "yarn"

            - name: Install dependencies
              run: yarn install

            - name: Build
              run: yarn build --filter @sunodo/car-download

            - name: Publish
              if: ${{ inputs.release }}
              working-directory: ./packages/car-download
              run: npm publish
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
