name: contracts
on:
    workflow_call:
        inputs:
            release:
                type: boolean
                required: false
        secrets:
            NPM_TOKEN:
                required: true
            TURBO_TOKEN:
                required: true
    pull_request:
        paths:
            - .github/workflows/contracts.yaml
            - packages/contracts/**
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
    cancel-in-progress: true
permissions:
    contents: write
    packages: write
    actions: write
jobs:
    build:
        runs-on: ubuntu-latest
        env:
            TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
            TURBO_TEAM: ${{ vars.TURBO_TEAM }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - uses: pnpm/action-setup@v3
            - name: Setup Node.js 20
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  registry-url: "https://registry.npmjs.org"
                  cache: "pnpm"

            - name: Install Foundry
              uses: foundry-rs/foundry-toolchain@v1

            - name: Install Dependencies
              run: pnpm

            - name: Build
              run: pnpm build --filter=contracts

            - name: Publish package
              if: ${{ inputs.release }}
              run: pnpm publish --access public
              working-directory: packages/contracts
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

            - name: Upload to release
              uses: softprops/action-gh-release@v1
              if: ${{ inputs.release }}
              with:
                  body_path: packages/contracts/CHANGELOG.md
                  files: |
                      packages/contracts/deployments/**
                      packages/contracts/export/abi/*
