name: devnet
on:
    workflow_call:
    pull_request:
        paths:
            - .github/workflows/devnet.yaml
            - packages/devnet/**
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
    cancel-in-progress: true
permissions:
    contents: read
    packages: write
    actions: write
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Setup Node.js 20
              uses: actions/setup-node@v3
              with:
                  node-version: 20
                  cache: "yarn"

            - name: Install Foundry
              uses: foundry-rs/foundry-toolchain@v1

            - name: Install dependencies
              run: yarn install

            - name: Build
              run: yarn build --filter @sunodo/devnet

            - name: Get package tag/version
              id: package-version
              if: ${{ github.event_name == 'push' }}
              run: |
                  jq -r '"PACKAGE_VERSION=\(.version)"' packages/devnet/package.json >> "$GITHUB_OUTPUT"

            - name: Docker meta
              id: meta
              uses: docker/metadata-action@v4
              with:
                  images: |
                      docker.io/sunodo/devnet,enable=${{ github.event_name != 'pull_request' }}
                      ghcr.io/sunodo/devnet
                  tags: |
                      type=raw,value=${{ steps.package-version.outputs.PACKAGE_VERSION }},enable=${{ github.event_name == 'push' }}
                      type=ref,event=pr
                  labels: |
                      org.opencontainers.image.title=Sunodo devnet
                      org.opencontainers.image.description=Sunodo devnet image with healthcheck

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Login to DockerHub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and push
              uses: docker/bake-action@v3
              with:
                  workdir: packages/devnet
                  files: |
                      ./docker-bake.hcl
                      ./docker-bake.platforms.hcl
                      ${{ steps.meta.outputs.bake-file }}
                  set: |
                      *.cache-from=type=gha
                      *.cache-to=type=gha,mode=max
                  push: true
