name: devnet
on:
    workflow_call:
        inputs:
            release:
                type: boolean
                required: false
        secrets:
            NPM_TOKEN:
                required: true
            TURBO_TOKEN:
                required: true
    pull_request:
        paths:
            - .github/workflows/devnet.yaml
            - packages/devnet/**
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
    cancel-in-progress: true
permissions:
    contents: read
    packages: write
    actions: write
jobs:
    build:
        runs-on: ubuntu-latest
        env:
            TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
            TURBO_TEAM: ${{ vars.TURBO_TEAM }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - uses: pnpm/action-setup@v3

            - name: Setup Node.js 20
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: "pnpm"

            - name: Install Foundry
              uses: foundry-rs/foundry-toolchain@v1

            - name: Install dependencies
              run: pnpm install

            - name: Build
              run: pnpm build --filter @cartesi/devnet

            - name: Publish
              if: ${{ inputs.release }}
              run: pnpm publish --access public
              working-directory: packages/devnet
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
