name: rollups-node
on:
    workflow_call:
    pull_request:
        paths:
            - .github/workflows/rollups-node.yaml
            - packages/rollups-node/**
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
    cancel-in-progress: true
permissions:
    contents: read
    packages: write
    actions: write
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Get package tag/version
              id: package-version
              if: ${{ github.event_name == 'push' }}
              run: |
                  jq -r '"PACKAGE_VERSION=\(.version)"' packages/rollups-node/package.json >> "$GITHUB_OUTPUT"

            - name: Docker meta
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: |
                      docker.io/sunodo/rollups-node,enable=${{ github.event_name != 'pull_request' }}
                      ghcr.io/sunodo/rollups-node
                  tags: |
                      type=raw,value=${{ steps.package-version.outputs.PACKAGE_VERSION }},enable=${{ github.event_name == 'push' }}
                      type=ref,event=pr
                  labels: |
                      org.opencontainers.image.title=Sunodo's rollups-node
                      org.opencontainers.image.description=Sunodo's rollups-node in a single container

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v2

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Login to DockerHub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and push
              uses: docker/bake-action@v3
              with:
                  workdir: packages/rollups-node
                  files: |
                      ./docker-bake.hcl
                      ./docker-bake.platforms.hcl
                      ${{ steps.meta.outputs.bake-file }}
                  set: |
                      *.cache-from=type=gha
                      *.cache-to=type=gha,mode=max
                  push: true
